$transparent:               #00000000;
$black:                     #000000;
$isc-blue:                  #060818;
$dark-blue-gray:            #181F27;
$faded-dark-blue-gray:      #222E3D; 
$brighter-dark-blue-gray:   #2A394B;
$faded-blue:                #51565C;
$light-red:                 #BB5151;
$clear-orange:              #B46D03; 
$bright-green:              #2B7A0F;
$bright-blue:               #87A1FF;
$light-blue:                #29D9FF;
$light-gray:                #C0C0C0;
$white:                     #FFFFFF;

$bright-blue-gradient:linear-gradient(270deg, $light-blue 0%, $bright-blue 100%);
