.bridgeSelector {
  display: flex;
  gap: 3vh;
  align-items: center;
  margin-bottom: 3vh;
  transition: all 0.3s ease;
}
.bridgeSelector img {
  transition: transform 1s ease;
  height: 2rem;
}
.bridgeSelector .bridgeInputWrapper {
  height: 60px;
  width: 310px;
  background-color: #222E3D;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
.bridgeSelector .bridgeInputWrapper .bridgeInputChain {
  display: flex;
  gap: 1vw;
  margin-left: 1.3vw;
}
.bridgeSelector .bridgeInputWrapper .bridgeInputChain span {
  color: white;
  font-size: 1.6rem;
}
.bridgeSelector .bridgeInputWrapper .dropdownBtn {
  cursor: pointer;
  color: white;
  border-radius: 999px;
  transition: height 0.3s ease, box-shadow 0.6s ease, transform 0.3s ease;
  margin-right: 1.3vw;
}
.bridgeSelector .bridgeInputWrapper .dropdownBtn:hover {
  height: 2.5em;
  box-shadow: 0px 0px 3em 1px #ffffff;
}

.selectorWrapper {
  position: relative;
}
.selectorWrapper .inactive {
  z-index: 9999;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: row-reverse;
}
.selectorWrapper .inactive .scrollBar {
  border-radius: 999px;
  height: 120px;
  transform: translateX(10px);
}
.selectorWrapper .inactive .scrollBar div {
  cursor: pointer;
  border-radius: 999px;
  background-color: #87A1FF;
  height: 30%;
}
.selectorWrapper .active {
  z-index: 9999;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.3s ease;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row-reverse;
}
.selectorWrapper .active .scrollBar {
  border-radius: 999px;
  height: 120px;
  transform: translateX(10px);
}
.selectorWrapper .active .scrollBar div {
  cursor: pointer;
  border-radius: 999px;
  background-color: #87A1FF;
  height: 30%;
}
.selectorWrapper .dropdown {
  width: 100%;
  max-height: 120px;
  overflow-y: scroll;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
  margin-top: 1px;
}
.selectorWrapper .dropdown .chainCard {
  z-index: 100;
  cursor: pointer;
  border-radius: 1vh;
  background-color: #2A394B;
  border: 1px solid #C0C0C0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  opacity: 0.9;
}
.selectorWrapper .dropdown .chainCard img {
  height: 1em;
  padding: 5px;
  margin: 0px;
}
.selectorWrapper .dropdown .chainCard p {
  color: #FFFFFF;
  margin: 0px;
}
.selectorWrapper .dropdown .chainCard:hover {
  background-color: #51565C;
}

.dropdown::-webkit-scrollbar {
  width: 0.5em;
}

.dropdown::-webkit-scrollbar-track {
  background-color: #060818;
  border-radius: 999px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #29D9FF;
  border-radius: 999px;
}

.scrollBar {
  background-color: #C0C0C0;
  width: 10px;
  height: 120px;
}

@media (max-width: 700px) {
  .bridgeSelector {
    flex-direction: column;
  }
  .bridgeSelector .bridgeInputWrapper {
    width: 75vw;
  }
  .bridgeSelector .turn270 {
    transform: rotate(1080deg);
  }
}
.header {
  max-width: 100vw;
  padding: 2vh 10vw 2vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #060818;
  box-shadow: 10px 10px #FFFFFF;
}
.header .headerInfo {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 4vh;
}
.header .headerInfo .logo {
  height: 6vh;
}
.header .headerInfo .brandText {
  color: #FFFFFF;
}
.header .headerInfo .brandText h1 {
  margin: 0;
  font-size: 4vh;
}
.header .headerInfo .brandText p {
  margin: 0;
  font-size: 1.2vh;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.header .nav a {
  font-size: 1.4vh;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header .nav a:hover {
  font-size: 1.7vh;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .header .nav {
    display: none;
  }
}
.opacity1 {
  opacity: 1;
}

.opacity02 {
  opacity: 0.2;
}

.underlined {
  text-decoration: underline;
}

/* Turn Clockwise */
.turn0 {
  transform: rotate(0deg);
}

.turn90 {
  transform: rotate(90deg);
}

.turn180 {
  transform: rotate(180deg);
}

.turn270 {
  transform: rotate(270deg);
}

.body {
  background-color: #181F27;
  min-height: -moz-max-content;
  min-height: max-content;
  padding-top: 3em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.swapIcon {
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
}

.ActiveInput {
  background-color: #181F27;
  border-radius: 1vh;
}

.InactiveInput {
  border-radius: 1vh;
  background: #222E3D;
}

.v2App {
  max-width: -moz-max-content;
  max-width: max-content;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  transition: all 0.3 ease;
}
.v2App .v2Card {
  transition: all 0.3 ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  align-self: stretch;
}

.v2TokenCardMap {
  transition: all 0.3 ease;
  display: flex;
  padding: 0.8vh;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
  border-radius: 1vh;
  background: #222E3D;
  font-size: 1.1rem;
}
.v2TokenCardMap .iconsWrapper {
  display: flex;
  width: 3rem;
  height: 1.5rem;
}
.v2TokenCardMap .tokenCardText {
  margin: 0.1vh;
}
.v2TokenCardMap :last-child {
  position: relative;
  left: -0.5rem;
}

.CardTitle {
  position: relative;
  left: -180px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.CardTitle :first-child {
  margin-right: 50px;
}
.CardTitle .TitleHeading {
  color: #FFFFFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.CardTitle .TitleHeading .greyText {
  color: #51565C;
}

.CardMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.CardMap .mapInner {
  display: flex;
  width: 460px;
  padding: 20px 40px 15px 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: #51565C;
}
.CardMap .mapInner .Map {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.CardMap .mapInner .Map .MapArrow {
  width: 15px;
  height: 20.323px;
}
.CardMap .mapInner .Map .mapCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.CardMap .mapInner .Map .mapCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.CardMap .mapInner .MapInfo {
  margin: 0px;
  padding: 0px;
  color: #C0C0C0;
}
.CardMap .mapInner .MapInfo p {
  margin: 0px;
}

.CardBody .CardBodyInner {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #2A394B;
}
.CardBody .CardBodyInner .bodyArrow {
  margin-top: 15px;
}
.CardBody .CardBodyInner .ActiveInput {
  width: 480px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CardBody .CardBodyInner .ActiveInput:focus-within {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
}
.CardBody .CardBodyInner .ActiveInput input:focus-within {
  outline: none;
}
.CardBody .CardBodyInner .InactiveInput {
  cursor: not-allowed;
  width: 480px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CardBody .CardBodyInner .InactiveInput input {
  cursor: not-allowed;
}
.CardBody .CardBodyInner .InactiveInput input:focus-within {
  outline: none;
}
.CardBody .CardBodyInner .ActionButton {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 25px 0 25px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #181F27;
}
.CardBody .CardBodyInner .ActionButton p {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(270deg, #29D9FF 0%, #87A1FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CardBody .CardBodyInner .ActionButtonInactive {
  cursor: not-allowed;
  display: flex;
  width: 100%;
  padding: 24px 97px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #131B23;
}
.CardBody .CardBodyInner .ActionButtonInactive p {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #51565C;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputTitle {
  display: flex;
  width: 480px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.inputTitle .maxDisplay {
  display: flex;
}

.inputField {
  display: flex;
  flex-direction: row;
  padding: 15px 17px;
  justify-content: space-between;
  align-items: center;
}
.inputField input {
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  border: none;
  text-align: end;
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.v2TokenCard {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background-color: #2A394B;
}
.v2TokenCard .iconsWrapper {
  display: flex;
}
.v2TokenCard .iconsWrapper :last-child {
  margin-left: -5px;
}
.v2TokenCard .tokenCardText {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 0;
}

.maxDisplay {
  color: #51565C;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.maxDisplay button {
  cursor: pointer;
  background-color: #181F27;
  border: 0.5px solid #29D9FF;
  color: #29D9FF;
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.maxDisplay button:hover {
  background-color: #51565C;
  border-color: #FFFFFF;
  color: #181F27;
}

@media (max-width: 800px) {
  .CardTitle {
    left: 0vw;
  }
}
@media (max-width: 696px) {
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 570px) {
  .dirBtns {
    flex-direction: column;
  }
  .CardBody .CardBodyInner {
    max-width: 59vw;
  }
  .CardBody .CardBodyInner .bodyArrow {
    margin-top: 0;
  }
  .CardBody .CardBodyInner .inputTitle {
    max-width: 59vw;
  }
  .CardBody .CardBodyInner .ActiveInput {
    max-width: 59vw;
    font-size: 0.6rem;
    gap: 0px;
  }
  .CardBody .CardBodyInner .ActiveInput input {
    width: 100px;
  }
  .CardBody .CardBodyInner .InactiveInput {
    max-width: 59vw;
    font-size: 0.6rem;
    gap: 0px;
  }
  .CardBody .CardBodyInner .InactiveInput input {
    width: 100px;
  }
  .CardBody .CardBodyInner .ActionButton p {
    width: -moz-max-content;
    width: max-content;
    font-size: 1em;
  }
  .mapInner {
    max-width: 55vw;
    align-items: center;
  }
  .mapInner .Map {
    flex-direction: column;
  }
  .mapInner .Map :first-child {
    align-self: center;
  }
  .mapInner .Map .mapCentre {
    align-self: center;
  }
  .turn180 {
    transform: rotate(0deg);
  }
  .turn270 {
    transform: rotate(0deg);
  }
}
@media (max-width: 500px) {
  .MapInfo {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .CardTitle .TitleHeading {
    font-size: 20px;
  }
  .CardTitle :first-child {
    height: 30px;
  }
}
@media (max-width: 490px) {
  .v2TokenCard {
    margin-right: -10px;
    height: 0.8rem;
  }
  .v2TokenCard .iconsWrapper .swapIcon {
    height: 1.2rem;
    width: 1.2rem;
  }
  .v2TokenCard .tokenCardText {
    display: none;
  }
  .inputTitle {
    flex-direction: column;
  }
}/*# sourceMappingURL=mystyle.module.css.map */