.bridgeSelector {
  display: flex;
  gap: 3vh;
  align-items: center;
  margin-bottom: 3vh;
  transition: all 0.3s ease;
}
.bridgeSelector img {
  transition: transform 1s ease;
  height: 2rem;
}
.bridgeSelector .bridgeInputWrapper {
  height: 60px;
  width: 310px;
  background-color: #222E3D;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
.bridgeSelector .bridgeInputWrapper .bridgeInputChain {
  display: flex;
  gap: 1vw;
  margin-left: 1.3vw;
}
.bridgeSelector .bridgeInputWrapper .bridgeInputChain input {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border: none;
  font-size: 1.6rem;
}
.bridgeSelector .bridgeInputWrapper .bridgeInputChain input:focus-within {
  outline: none;
}
.bridgeSelector .bridgeInputWrapper .dropdownBtn {
  cursor: pointer;
  color: white;
  border-radius: 999px;
  transition: height 0.3s ease, box-shadow 0.6s ease, transform 0.3s ease;
  margin-right: 1.3vw;
}
.bridgeSelector .bridgeInputWrapper .dropdownBtn:hover {
  height: 2.5em;
  box-shadow: 0px 0px 3em 1px #ffffff;
}

.selectorWrapper {
  position: relative;
}
.selectorWrapper .inactive {
  z-index: 9999;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: row-reverse;
}
.selectorWrapper .inactive .scrollBar {
  border-radius: 999px;
  height: 120px;
  transform: translateX(10px);
}
.selectorWrapper .inactive .scrollBar div {
  cursor: pointer;
  border-radius: 999px;
  background-color: #87A1FF;
  height: 30%;
}
.selectorWrapper .active {
  z-index: 9999;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.3s ease;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row-reverse;
}
.selectorWrapper .active .scrollBar {
  border-radius: 999px;
  height: 120px;
  transform: translateX(10px);
}
.selectorWrapper .active .scrollBar div {
  cursor: pointer;
  border-radius: 999px;
  background-color: #87A1FF;
  height: 30%;
}
.selectorWrapper .dropdown {
  width: 100%;
  max-height: 120px;
  overflow-y: scroll;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
  margin-top: 1px;
}
.selectorWrapper .dropdown .chainCard {
  z-index: 100;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: #2A394B;
  border: 1px solid #C0C0C0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  opacity: 0.9;
}
.selectorWrapper .dropdown .chainCard img {
  height: 1em;
  padding: 5px;
  margin: 0px;
}
.selectorWrapper .dropdown .chainCard p {
  color: #FFFFFF;
  margin: 0px;
}
.selectorWrapper .dropdown .chainCard:hover {
  background-color: #51565C;
}

.dropdown::-webkit-scrollbar {
  width: 0.5em;
}

.dropdown::-webkit-scrollbar-track {
  background-color: #060818;
  border-radius: 999px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #29D9FF;
  border-radius: 999px;
}

.scrollBar {
  background-color: #C0C0C0;
  width: 10px;
  height: 120px;
}

@media (max-width: 700px) {
  .bridgeSelector {
    flex-direction: column;
  }
  .bridgeSelector .bridgeInputWrapper {
    width: 75vw;
  }
  .bridgeSelector .turn270 {
    transform: rotate(1080deg);
  }
}
.header {
  position: sticky;
  top: 0px;
  max-width: 100vw;
  padding: 2vh 10vw 2vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #060818;
  z-index: 999;
  box-shadow: 1px 1px 10em rgba(255, 255, 255, 0.15);
}
.header .headerInfo {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 4vh;
}
.header .headerInfo .logo {
  height: 6vh;
}
.header .headerInfo .brandText {
  color: #FFFFFF;
}
.header .headerInfo .brandText h1 {
  margin: 0;
  font-size: 4vh;
}
.header .headerInfo .brandText p {
  margin: 0;
  font-size: 1.2vh;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.header .nav a {
  font-size: 1.4vh;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header .nav a:hover {
  font-size: 1.7vh;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .header .nav {
    display: none;
  }
}
.txPopupWrapper {
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  left: 70%;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.popupSuccess .txPopup {
  position: relative;
  background-color: #222E3D;
  height: 7em;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 21em;
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
}
.popupSuccess .txPopup .ppMessage {
  font-size: 1.3em;
  color: white;
}
.popupSuccess .txPopup .ppMessage span {
  color: #2B7A0F;
}
.popupSuccess .txPopup .diagonalLine1 {
  border-color: #2B7A0F;
}
.popupSuccess .txPopup .diagonalLine2 {
  border-color: #2B7A0F;
}

.popupFailed .txPopup {
  position: relative;
  background-color: #222E3D;
  height: 7em;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 21em;
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
}
.popupFailed .txPopup .ppMessage {
  font-size: 1.3em;
  color: white;
}
.popupFailed .txPopup .ppMessage span {
  color: #BB5151;
}
.popupFailed .txPopup .diagonalLine1 {
  border-color: #BB5151;
}
.popupFailed .txPopup .diagonalLine2 {
  border-color: #BB5151;
}

.closePopup {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #C0C0C0;
  color: #C0C0C0;
  font-weight: 900;
  border-radius: 999px;
}
.closePopup:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.popupFailed {
  opacity: 0;
  transform: translateX(400px);
  padding-bottom: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
  background: linear-gradient(to right, #BB5151 1%, rgba(0, 0, 0, 0));
  border-radius: 1em;
  transition: all 0.3s ease;
}

.popupSuccess {
  opacity: 0;
  transform: translateX(400px);
  padding-bottom: 0.3rem;
  padding-right: 0.3em;
  position: relative;
  background: linear-gradient(to right, #2B7A0F 1%, rgba(0, 0, 0, 0));
  border-radius: 1em;
  transition: all 0.3s ease;
}

.diagonalLine1 {
  position: absolute;
  border: 1px solid white;
  width: 12em;
  left: 58%;
  top: 65%;
  transform: rotate(135deg);
}

.diagonalLine2 {
  position: absolute;
  border: 1px solid white;
  width: 12em;
  left: 63%;
  top: 65%;
  transform: rotate(135deg);
}

.statusImg {
  position: absolute;
  height: 1.8em;
  left: 90%;
  top: 73%;
}

.ppMessage {
  margin: 0px;
  padding: 0.2em;
  font-size: 1.1em;
}

.ppTxid {
  margin: 0px;
  margin-top: 10px;
  font-size: 0.8em;
  word-wrap: break-word;
  color: #C0C0C0;
}
.ppTxid p {
  margin: 0px;
  width: 70%;
}

.bridgeWarningWrapper {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 998;
  background-color: rgba(6, 8, 24, 0.4549019608);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.bridgeWarningWrapper .bridgeWarning {
  color: white;
  background-color: #222E3D;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
}
.bridgeWarningWrapper .bridgeWarning .bridgeWarningDecor {
  width: 12em;
}
.bridgeWarningWrapper .bridgeWarning .warningContent {
  width: 25em;
  padding: 2em;
}

.warningForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.warningForm input[type=radio],
.warningForm input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #fff; /* this is needed for iOS. Otherwise the background just becomes black. */
  border: 1px solid #333;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
}
.warningForm input[type=radio][disabled], .warningForm input[type=radio][aria-disabled=true],
.warningForm input[type=checkbox][disabled],
.warningForm input[type=checkbox][aria-disabled=true] {
  opacity: 0.4;
}
.warningForm input[type=radio]::before,
.warningForm input[type=checkbox]::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}
.warningForm input[type=radio]:focus,
.warningForm input[type=checkbox]:focus {
  outline: 2px solid;
  outline-offset: 2px;
}
.warningForm input[type=radio]::before {
  height: 0;
  width: 0;
}
.warningForm input[type=radio]:checked::before {
  border: 5px solid transparent;
  border-radius: 100%;
  outline-offset: -6px;
  background: #000;
}
.warningForm input[type=checkbox]:indeterminate::before,
.warningForm input[type=checkbox][aria-checked=mixed]::before {
  border: 2px solid #222;
  height: 0;
  width: 40%;
}
.warningForm input[type=checkbox]:checked::before {
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  height: 50%;
  width: 30%;
  transform: rotate(45deg) translateY(-20%) translateX(-10%);
}
.warningForm input[type=text] {
  background-color: #222E3D;
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 1em;
  color: white;
}
.warningForm input[type=text]:focus-within {
  border: 2px solid rgba(0, 0, 0, 0.101);
}
.warningForm .flexRow {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  line-height: 1.1;
}

.warningSubmit {
  background-color: #B46D03;
  cursor: pointer;
  height: 45px;
  border-radius: 999px;
  border: none;
  color: white;
  font-size: 18px;
}

.warningContent h2 {
  font-size: 2.2em;
  margin: 0px;
}
.warningContent h2 span {
  color: #B46D03;
}

.bridgeWarningDecor {
  position: relative;
  overflow: hidden;
}
.bridgeWarningDecor .warningIcon {
  position: absolute;
  height: 4em;
  bottom: 4%;
  right: 10%;
}
.bridgeWarningDecor .line1 {
  position: absolute;
  border: 1px solid #B46D03;
  bottom: 0px;
  width: 50em;
  right: -15em;
  rotate: 130deg;
}
.bridgeWarningDecor .line2 {
  position: absolute;
  border: 1px solid #B46D03;
  bottom: 2em;
  width: 50em;
  right: -15em;
  rotate: 130deg;
}
.bridgeWarningDecor .line3 {
  position: absolute;
  border: 1px solid #B46D03;
  top: -1em;
  width: 60em;
  right: -17.8em;
  rotate: 50deg;
}
.bridgeWarningDecor .line4 {
  position: absolute;
  border: 1px solid #B46D03;
  top: -3em;
  width: 50em;
  right: -12.8em;
  rotate: 50deg;
}

@media screen and (prefers-color-scheme: dark) {
  .warningForm input[type=radio],
  .warningForm input[type=checkbox] {
    background: #222E3D;
    border-color: #fff;
  }
  .warningForm input[type=radio]:checked::before {
    background: #29D9FF;
  }
  .warningForm input[type=checkbox]:checked::before,
  .warningForm input[type=checkbox]:indeterminate::before,
  .warningForm input[type=checkbox][aria-checked=mixed]::before {
    border-right-color: #29D9FF;
    border-bottom-color: #29D9FF;
  }
  .warningForm input[type=radio]:focus,
  .warningForm input[type=checkbox]:focus {
    outline-color: #29D9FF;
  }
}
@media (max-width: 700px) {
  .bridgeWarningWrapper .bridgeWarning {
    top: 20vh;
  }
  .bridgeWarningWrapper .bridgeWarning .warningContent {
    width: 20em;
  }
  .bridgeWarningWrapper .bridgeWarning .bridgeWarningDecor {
    display: none;
  }
}
@media (max-width: 400px) {
  .bridgeWarningWrapper .bridgeWarning .warningContent {
    width: 15em;
  }
  .bridgeWarningWrapper .bridgeWarning .bridgeWarningDecor {
    display: none;
  }
}
@media (max-width: 320px) {
  .bridgeWarningWrapper .bridgeWarning .warningContent {
    width: 12em;
  }
  .bridgeWarningWrapper .bridgeWarning .warningContent h2 {
    font-size: 1.5em;
  }
  .bridgeWarningWrapper .bridgeWarning .warningContent p {
    font-size: 0.9em;
  }
  .bridgeWarningWrapper .bridgeWarning .bridgeWarningDecor {
    display: none;
  }
}
.resumeBtn {
  margin-left: auto;
}
.resumeBtn button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #29D9FF;
  color: #29D9FF;
  font-size: 1.5em;
  height: 1.5em;
  border-radius: 999px;
  transition: all 0.3s ease;
}
.resumeBtn button:hover {
  background-color: #29D9FF;
  color: black;
  border-color: black;
  height: 1.8em;
}

.resumeForm {
  height: 90vh;
  width: 100vw;
  top: 10vh;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumeForm h2 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.resumeForm form {
  background-color: #222E3D;
  height: 20em;
  width: 30em;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resumeForm form .resumeDirection {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resumeForm form .resumeDirection h3 {
  margin: 0px;
  color: #29D9FF;
}
.resumeForm form .resumeInfoType span {
  display: flex;
  width: 100%;
  margin: 0px;
  color: #29D9FF;
}
.resumeForm form .resumeInfoType span h3 {
  margin-left: auto;
  margin-right: auto15px;
}
.resumeForm form .resumeInfoType span button {
  margin-left: 10px;
}
.resumeForm form .resumeInfoType .help {
  cursor: help;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #29D9FF;
  color: #29D9FF;
  border-radius: 999px;
  transition: all 0.3s ease;
}
.resumeForm form .resumeInfoType .help:hover {
  background-color: #29D9FF;
  color: black;
  border-color: black;
}

.opacity1 {
  opacity: 1;
}

.opacity02 {
  opacity: 0.2;
}

.underlined {
  text-decoration: underline;
}

/* Turn Clockwise */
.turn0 {
  transform: rotate(0deg);
}

.turn90 {
  transform: rotate(90deg);
}

.turn180 {
  transform: rotate(180deg);
}

.turn270 {
  transform: rotate(270deg);
}

.body {
  background-color: #181F27;
  min-height: -moz-max-content;
  min-height: max-content;
  padding-top: 3em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.swapIcon {
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
}

.ActiveInput {
  background-color: #181F27;
  border-radius: 0.5em;
}

.InactiveInput {
  border-radius: 0.5em;
  background: #222E3D;
}

.v2App {
  max-width: -moz-max-content;
  max-width: max-content;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  transition: all 0.3 ease;
}
.v2App .v2Card {
  transition: all 0.3 ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  align-self: stretch;
}

.v2TokenCardMap {
  transition: all 0.3 ease;
  display: flex;
  padding: 0.8vh;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
  border-radius: 0.5em;
  background: #222E3D;
  font-size: 1.1rem;
}
.v2TokenCardMap .iconsWrapper {
  display: flex;
  width: 3rem;
  height: 1.5rem;
}
.v2TokenCardMap .tokenCardText {
  margin: 0.1vh;
}
.v2TokenCardMap :last-child {
  position: relative;
  left: -0.5rem;
}

.CardTitle {
  position: relative;
  left: -1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 42em;
}
.CardTitle .stepEllipse {
  margin-right: 50px;
}
.CardTitle .TitleHeading {
  color: #FFFFFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.CardTitle .TitleHeading .greyText {
  color: #51565C;
}

.CardMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.CardMap .mapInner {
  display: flex;
  width: 460px;
  padding: 20px 40px 15px 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: #51565C;
}
.CardMap .mapInner .Map {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.CardMap .mapInner .Map .MapArrow {
  width: 15px;
  height: 20.323px;
}
.CardMap .mapInner .Map .mapCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.CardMap .mapInner .Map .mapCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.CardMap .mapInner .MapInfo {
  margin: 0px;
  padding: 0px;
  color: #C0C0C0;
}
.CardMap .mapInner .MapInfo p {
  margin: 0px;
}

.CardBody .CardBodyInner {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #2A394B;
}
.CardBody .CardBodyInner .bodyArrow {
  margin-top: 15px;
}
.CardBody .CardBodyInner .ActiveInput {
  width: 480px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CardBody .CardBodyInner .ActiveInput:focus-within {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
}
.CardBody .CardBodyInner .ActiveInput input:focus-within {
  outline: none;
}
.CardBody .CardBodyInner .InactiveInput {
  cursor: not-allowed;
  width: 480px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CardBody .CardBodyInner .InactiveInput input {
  cursor: not-allowed;
}
.CardBody .CardBodyInner .InactiveInput input:focus-within {
  outline: none;
}
.CardBody .CardBodyInner .ActionButton {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 25px 0 25px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #181F27;
}
.CardBody .CardBodyInner .ActionButton p {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(270deg, #29D9FF 0%, #87A1FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CardBody .CardBodyInner .ActionButtonInactive {
  cursor: not-allowed;
  display: flex;
  width: 100%;
  padding: 24px 97px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #131B23;
}
.CardBody .CardBodyInner .ActionButtonInactive p {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #51565C;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputTitle {
  display: flex;
  width: 480px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.inputTitle .maxDisplay {
  display: flex;
}

.inputField {
  display: flex;
  flex-direction: row;
  padding: 15px 17px;
  justify-content: space-between;
  align-items: center;
}
.inputField input {
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  border: none;
  text-align: end;
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.v2TokenCard {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background-color: #2A394B;
}
.v2TokenCard .iconsWrapper {
  display: flex;
}
.v2TokenCard .iconsWrapper :last-child {
  margin-left: -5px;
}
.v2TokenCard .tokenCardText {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 0;
}

.maxDisplay {
  color: #51565C;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.maxDisplay button {
  cursor: pointer;
  background-color: #181F27;
  border: 0.5px solid #29D9FF;
  color: #29D9FF;
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.maxDisplay button:hover {
  background-color: #51565C;
  border-color: #FFFFFF;
  color: #181F27;
}

@media (max-width: 800px) {
  .CardTitle {
    left: 0vw;
  }
}
@media (max-width: 696px) {
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 570px) {
  .dirBtns {
    flex-direction: column;
  }
  .CardBody .CardBodyInner {
    max-width: 59vw;
  }
  .CardBody .CardBodyInner .bodyArrow {
    margin-top: 0;
  }
  .CardBody .CardBodyInner .inputTitle {
    max-width: 59vw;
  }
  .CardBody .CardBodyInner .ActiveInput {
    max-width: 59vw;
    font-size: 0.6rem;
    gap: 0px;
  }
  .CardBody .CardBodyInner .ActiveInput input {
    width: 100px;
  }
  .CardBody .CardBodyInner .InactiveInput {
    max-width: 59vw;
    font-size: 0.6rem;
    gap: 0px;
  }
  .CardBody .CardBodyInner .InactiveInput input {
    width: 100px;
  }
  .CardBody .CardBodyInner .ActionButton p {
    width: -moz-max-content;
    width: max-content;
    font-size: 1em;
  }
  .mapInner {
    max-width: 55vw;
    align-items: center;
  }
  .mapInner .Map {
    flex-direction: column;
  }
  .mapInner .Map :first-child {
    align-self: center;
  }
  .mapInner .Map .mapCentre {
    align-self: center;
  }
  .turn180 {
    transform: rotate(0deg);
  }
  .turn270 {
    transform: rotate(0deg);
  }
}
@media (max-width: 500px) {
  .MapInfo {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .CardTitle .TitleHeading {
    font-size: 20px;
  }
  .CardTitle :first-child {
    height: 30px;
  }
}
@media (max-width: 490px) {
  .v2TokenCard {
    margin-right: -10px;
    height: 0.8rem;
  }
  .v2TokenCard .iconsWrapper .swapIcon {
    height: 1.2rem;
    width: 1.2rem;
  }
  .v2TokenCard .tokenCardText {
    display: none;
  }
  .inputTitle {
    flex-direction: column;
  }
}/*# sourceMappingURL=mystyle.module.css.map */